@use "../base/vars" as v;
@use "../mixin/breakpoints"as m;

// 各セクションのタイトル(日本語込)
@mixin sec_01{
  font-family:var(--font-family-jost);
  font-size: 100px;
  text-transform:uppercase;
  color:var(--color_02);
  line-height: 1;
  @include m.mq(pc-xl){
    font-size: 80px;
  }
  @include m.mq(sp){
    font-size: 46px;
  }
  //日本語部分
  &__main{
    font-family:var(--font-family-noto);
    font-size: 30px;
    letter-spacing: .09em;
    color: #000;
    font-weight: 500;
    @include m.mq(pc-xl){
      font-size: 26px;
    }
    @include m.mq(sp){
      line-height: 1.2;
      font-size: 24px;
    }
  }
}