@charset "UTF-8";
/*-----------------------*/
/*共通(common)*/
/*-----------------------*/
/*共通変数*/
:root {
  --font-family-noto:"Noto Sans JP", sans-serif;
  --font-family-jost: "Jost", sans-serif;
  --font-family-shippori:"Shippori Mincho B1", serif;
  --font-family-roboto:"Roboto", sans-serif;
  --color_01:#F27C98;
  --color_02:#F8E2EC;
}

/*使用する時は
font-family:var(--font-family-noto);
font-family:var(--font-family-jost);
font-family:var(--font-family-shippori);
font-family:var(--font-family-roboto);
color:var(--color_01);
color:var(--color_02);
*/
html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  overflow-x: hidden;
  font-size: 1.6em;
}

/*レスポンシブ&写真下の隙間を埋める*/
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.section-wrapper-bg {
  background-image: url(../../../../static/image/menu/hyaluronic/pc/bg_01.png);
  background-repeat: no-repeat;
  background-position: 1% 1%;
  max-width: 1920px;
  margin: 0 auto;
}
.section-wrapper-bg__inner {
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 2vw;
}

.top-kv {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  background-image: url(../../../../static/image/menu/hyaluronic/pc/top-kv-bg_01.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 108px;
}
.top-kv__people {
  position: absolute;
  right: 0;
  bottom: 124px;
  max-width: 800px;
}
.top-kv__box {
  max-width: 1566px;
  width: 100%;
  margin: 0 auto;
  padding-top: 64px;
}
.top-kv__box--title {
  max-width: 1166px;
  margin: 0 auto;
}
.top-kv__box--title img {
  max-width: 800px;
  width: 100%;
}
.top-kv__box__inner {
  max-width: 1496px;
  width: 100%;
  margin: 0 auto;
  padding-left: 200px;
  background-image: url(../../../../static/image/menu/hyaluronic/pc/top-kv-bg_02.png);
  background-repeat: no-repeat;
  background-size: 60% 75%;
  background-position: 6% 25%;
}
.top-kv__box__lead {
  font-family: var(--font-family-shippori);
  max-width: 560px;
  width: 100%;
  font-size: 34px;
  color: var(--color_01);
  letter-spacing: 0.04em;
  padding-left: 2.6em;
}
.top-kv__box__lead__main {
  display: inline-block;
  position: relative;
}
.top-kv__box__lead__main_first {
  padding-left: 12px;
  margin-bottom: 12px;
}
.top-kv__box__lead__main_second {
  margin-left: 6.4em;
  white-space: nowrap;
  margin-top: 12px;
}
.top-kv__box__lead__main--icon {
  position: absolute;
  top: -24px;
  left: 0;
}
.top-kv__box__lead__main--icon_2 img {
  max-width: 40px;
  margin-left: -8px;
}
.top-kv__box__lead--bg {
  display: inline-block;
  background-color: var(--color_01);
  color: #fff;
  line-height: 1;
  margin-left: 3em;
}
.top-kv__list {
  max-width: 677px;
  height: 288px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 32px;
}
.top-kv__list__item {
  max-width: 192px;
  width: 100%;
  height: 192px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.top-kv__list__item:nth-of-type(1) {
  background-image: url(../../../../static/image/menu/hyaluronic/pc/top-kv_02-1.png);
}
.top-kv__list__item:nth-of-type(2) {
  background-image: url(../../../../static/image/menu/hyaluronic/pc/top-kv_02-2.png);
  margin-top: auto;
}
.top-kv__list__item:nth-of-type(3) {
  background-image: url(../../../../static/image/menu/hyaluronic/pc/top-kv_02-3.png);
  margin-top: 32px;
}
.top-kv__list__item__box {
  font-size: 24px;
  letter-spacing: 0.04em;
  text-align: center;
}
.top-kv__list__item--r-text {
  font-size: 32px;
  color: var(--color_01);
  font-weight: bold;
}
.top-kv__bottom-box {
  max-width: 1100px;
  margin: 0 auto;
}
.top-kv__bottom-box__inner {
  max-width: 428px;
  text-align: center;
}
.top-kv__bottom-box__title {
  font-size: 26px;
  letter-spacing: 0.17em;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}
.top-kv__bottom-box__title--money {
  font-family: var(--font-family-roboto);
  color: var(--color_01);
  font-size: 69px;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 0em;
  margin-left: 36px;
}
.top-kv__bottom-box__title--tax {
  display: inline-block;
  font-size: 18px;
  margin-top: auto;
  margin-left: 12px;
  padding-bottom: 12px;
}
.top-kv__bottom-box--notice {
  font-size: 14px;
}

.reserve {
  max-width: 370px;
  width: 100%;
  margin: 24px auto;
  text-align: center;
}
.reserve__text {
  font-size: 18px;
  letter-spacing: 0.04em;
  line-height: 1.5;
  margin-bottom: 16px;
  position: relative;
}
.reserve__text::before, .reserve__text::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 32px;
  background: #000;
  position: absolute;
  bottom: 0;
}
.reserve__text::before {
  transform: rotate(-25deg);
  left: 0;
}
.reserve__text::after {
  transform: rotate(25deg);
  right: 0;
}
.reserve__button--link {
  display: inline-block;
  max-width: 360px;
  width: 100%;
  line-height: 52px;
  letter-spacing: 0.06em;
  font-size: 24px;
  color: #fff;
  background: linear-gradient(180deg, #05ED64 0%, #0BBA53 100%);
  background-blend-mode: multiply;
  border-radius: 7px;
  transition: 0.3s;
}
.reserve__button--link:hover {
  opacity: 0.6;
  filter: brightness(100%);
}

.menu {
  padding: 32px 0 128px;
}
.menu .section-title {
  font-family: var(--font-family-jost);
  font-size: 100px;
  text-transform: uppercase;
  color: var(--color_02);
  line-height: 1;
}
.menu .section-title__main {
  font-family: var(--font-family-noto);
  font-size: 30px;
  letter-spacing: 0.09em;
  color: #000;
  font-weight: 500;
}
.menu__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.menu__list__item {
  width: 20%;
  background-color: #fff;
  border: solid 1px var(--color_01);
  position: relative;
}
.menu__list__item__link {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 95px;
  padding: 0 20px;
  transition: 0.3s;
}
.menu__list__item__link::after {
  display: inline-block;
  content: "";
  background-image: url(../../../../static/image/menu/hyaluronic/icon/icon_03.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  position: absolute;
  top: calc((100% - 10px) / 2);
  right: 20px;
}
.menu__list__item__link:hover {
  background-color: var(--color_02);
}
.menu__list__item:nth-of-type(-n + 5) {
  margin-bottom: -1px;
}
.menu__list__item:nth-of-type(-n + 10) {
  margin-right: -1px;
}
.menu__list__item:nth-of-type(11) {
  margin-top: -1px;
}

.about {
  padding-bottom: 128px;
}
.about .section-title {
  font-family: var(--font-family-jost);
  font-size: 100px;
  text-transform: uppercase;
  color: var(--color_02);
  line-height: 1;
  text-align: center;
  margin-bottom: 64px;
}
.about .section-title__main {
  font-family: var(--font-family-noto);
  font-size: 30px;
  letter-spacing: 0.09em;
  color: #000;
  font-weight: 500;
}
.about__t-box {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 96px;
  font-size: 18px;
  letter-spacing: 0.06em;
  line-height: 1.7;
}
.about__t-box--text:nth-of-type(1) {
  margin-bottom: 1em;
}
.about__pic-box {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.recommend {
  padding-bottom: 128px;
}
.recommend .section-title {
  font-family: var(--font-family-jost);
  font-size: 100px;
  text-transform: uppercase;
  color: var(--color_02);
  line-height: 1;
  text-align: center;
  margin-bottom: 128px;
}
.recommend .section-title__main {
  font-family: var(--font-family-noto);
  font-size: 30px;
  letter-spacing: 0.09em;
  color: #000;
  font-weight: 500;
}
.recommend__pic-box {
  max-width: 968px;
  width: 100%;
  margin: 0 auto;
}

.parts {
  padding-bottom: 128px;
}
.parts .section-title {
  font-family: var(--font-family-jost);
  font-size: 100px;
  text-transform: uppercase;
  color: var(--color_02);
  line-height: 1;
  text-align: center;
  margin-bottom: 128px;
}
.parts .section-title__main {
  font-family: var(--font-family-noto);
  font-size: 30px;
  letter-spacing: 0.09em;
  color: #000;
  font-weight: 500;
}
.parts__contents {
  background-image: url(../../../../static/image/menu/hyaluronic/pc/parts_01.png);
  background-repeat: no-repeat;
}

/*style.cssはsassにてコンパイルされていますので、sassでの編集をお願いいたします*/

/*# sourceMappingURL=style.css.map */
