@use "../../../base/vars" as v;
@use "../../../mixin/breakpoints" as m;
@use "../../../mixin/sec" as sec;

.menu{
  padding: 32px 0 128px;
  @include m.mq(sp){
    padding: 32px 0 64px;
  }
  .section-title{
    @include sec.sec_01;
  }
  &__list{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    &__item{
      width: 20%;
      background-color: #fff;
      border: solid 1px var(--color_01);
      position: relative;
      @include m.mq(pc-s){
        width: 25%;
      }
      @include m.mq(tab-xl){
        width: 33.333333%;
      }
      @include m.mq(tab){
        width: 50%;
      }
      &__link{
        display: inline-block;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 95px;
        padding: 0 32px 0 20px;
        transition: .3s;
        @include m.mq(tab){
          height: 60px;
        }
        @include m.mq(sp){
          font-size: 12px;
          height: 40px;
          padding: 0 32px 0 8px;
        }
        &::after{
          display: inline-block;
          content: "";
          background-image: url(../../../../static/image/menu/hyaluronic/icon/icon_03.png);
          background-size: contain;
          background-repeat: no-repeat;
          width: 10px;
          height: 10px;
          position: absolute;
          top: calc((100% - 10px) / 2);
          right: 20px;
          @include m.mq(tab){
            top: calc((100% - 6px) / 2);
            width: 6px;
            height: 6px;
          }
          @include m.mq(sp){
            right: 12px;
          }
        }
        &:hover{
          background-color: var(--color_02);
        }
      }
      &:nth-of-type(-n + 5){
        margin-bottom: -1px;
      }
      &:nth-of-type(-n + 7){
        @include m.mq(pc-s){
          margin: -1px -1px -1px 0;
        }
      }
      &:nth-of-type(-n + 10){
        margin-right: -1px;
      }
      &:last-of-type{
        margin-top: -1px;
      }
      &:last-of-type{
        margin-top: -1px;
      }
      &:nth-last-of-type(-n+3){
        @include m.mq(pc-s){
          margin-top: -1px;
        }
      }
    }
  }
}