@use "../../../base/vars" as v;
@use "../../../mixin/breakpoints" as m;
@use "../../../mixin/sec" as sec;

.parts{
  padding-bottom: 128px;
  @include m.mq(sp){
    padding-bottom: 80px;
  }
  .section-title{
    @include sec.sec_01;
    text-align: center;
    margin-bottom: 128px;
    @include m.mq(pc-l){
      margin-bottom: 64px;
    }
    @include m.mq(sp){
      margin-bottom: 32px;
    }
  }
  &__contents{
    background-image: url(../../../../static/image/menu/hyaluronic/pc/parts_01.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 1040px;
    height: 840px;
    margin: 0 auto;
    @include m.mq(pc-l){
      width: 760px;
      height: 600px;
    }
    @include m.mq(tab-xl){
      width: 468px;
      height: 364px;
    }
    @include m.mq(sp){
      background-image: url(../../../../static/image/menu/hyaluronic/sp/parts_01.png);
      width: 337px;
      height: 419px;
    }
  }
}