@use "../../../base/vars" as v;
@use "../../../mixin/breakpoints" as m;
@use "../../../mixin/sec" as sec;

.recommend{
  padding-bottom: 128px;
  .section-title{
    @include sec.sec_01;
    text-align: center;
    margin-bottom: 128px;
  }
  &__pic-box{
    max-width: 968px;
    width: 100%;
    margin: 0 auto;
  }
}