@use "../../../base/vars" as v;
@use "../../../mixin/breakpoints" as m;
@use "../../../mixin/sec" as sec;

.case{
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 2vw 128px 2vw;
    text-align: center;
    @include m.mq(sp){
        padding: 0 2vw 64px 2vw;
    }
    &__title-box{
        max-width: 989px;
        background-image: url(../../../../addfiles/img/top/pc/case_line_01.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        margin: 0 auto 66px auto;
        @include m.mq(pc-s){
            background-size: 98% 100%;
        }
        @include m.mq(tab-s){
            background-image: url(../../../../addfiles/img/top/sp/sp-case_line_01.png);
        }
        &__title{
            font-size: 32px;
            font-weight: 500;
            letter-spacing: .085em;
            line-height: 1.7;
            padding: 20px 0 36px;
            background: linear-gradient(90.13deg, #504337 0.06%, #B4AE9B 104.05%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            @include m.mq(tab-s){
                font-size: 24px;
                padding: 16px 0 36px;
            }
        }
    }
    &__text{
        font-size: 20px;
        letter-spacing: .06em;
        line-height: 2;
        margin-bottom: 48px;
        @include m.mq(pc-s){
            text-align: left;
            max-width: 600px;
            margin: 0 auto 48px auto;
        }
        @include m.mq(tab-s){
            font-size: 14px;
            text-align: justify;
            max-width: 300px;
            margin: 0 auto 32px auto;
        }
        &_br{
            @include m.mq(pc-s){
                display: none;
            }
        }
    }
    &__contents{
        max-width: 1147px;
        margin: 0 auto;
        position: relative;
        &--top-line{
            display: inline-block;
            width: 174px;
            height: 1px;
            background-color: #1b1b1b;
            position: absolute;
            top: 0;
            right: 0;
            @include m.mq(pc-s){
                width: 74px;
            }
            @include m.mq(tab-s){
                width: 44px;
            }
            &::before{
                content: "";
                display: inline-block;
                height: 174px;
                width: 1px;
                background-color: #1b1b1b;
                position: absolute;
                top: -16px;
                right: 16px;
                @include m.mq(pc-s){
                    height: 74px;
                }
                @include m.mq(tab-s){
                    height: 44px;
                    top: -8px;
                    right: 8px;
                }
            }
        }
        &--bottom-line{
            display: inline-block;
            width: 174px;
            height: 1px;
            background-color: #1b1b1b;
            position: absolute;
            bottom: 0;
            left: 0;
            @include m.mq(pc-s){
                width: 74px;
            }
            @include m.mq(tab-s){
                width: 44px;
            }
            &::before{
                content: "";
                display: inline-block;
                height: 174px;
                width: 1px;
                background-color: #1b1b1b;
                position: absolute;
                bottom: -16px;
                left: 16px;
                @include m.mq(pc-s){
                    height: 74px;
                }
                @include m.mq(tab-s){
                    height: 44px;
                    bottom: -8px;
                    left: 8px;
                }
            }
        }
        &__in-box{
            max-width: 1012px;
            margin: 0 auto;
            padding: 64px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 24px;
            @include m.mq(pc-s){
                max-width: 570px;
            }
            @include m.mq(tab-s){
                padding: 18px 0;
            }
            &__pic{
                //コンテンツ入れ替え用
                &_pc{
                    @include m.mq(pc-s){
                        display: none;
                    }
                }
                //コンテンツ入れ替え用
                &_sp{
                    display: none;
                    @include m.mq(pc-s){
                        display: inline-block;
                        margin-bottom: 48px;
                    }
                }
                &--img{
                    img{
                        max-width: 406px;
                        @include m.mq(pc-s){
                            max-width: 300px;
                            text-align: center;
                        }
                        @include m.mq(tab-s){
                            max-width: 271px;
                        }
                    }
                }
                &--text{
                    font-size: 14px;
                }
            }
        }
        &__textarea{
            text-align: left;
            @include m.mq(pc-s){
                text-align: center;
            }
            &__lead{
                font-size: 23px;
                letter-spacing: 0.055em;
                background: linear-gradient(89.85deg, #504337 -88.41%, #B4AE9B 103.79%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
                margin-bottom: 28px;
                @include m.mq(tab-s){
                    font-size: 14px;
                }
                &__main{
                    font-size: 30px;
                    font-weight: bold;
                    letter-spacing: .065em;
                    @include m.mq(tab-s){
                        font-size: 14px;
                        letter-spacing: .03em;
                    }
                        &_bg{
                            font-size: 42px;
                            background: linear-gradient(89.7deg, #504337 -5.07%, #B4AE9B 248.32%);
                            color: #fff;
                            line-height: 1;
                            white-space: nowrap;
                            @include m.mq(tab-s){
                                font-size: 22px;
                            }
                        }
                        &_indent{
                            display: inline-block;
                            margin: 38px 0 88px 4em;
                            white-space: nowrap;
                            @include m.mq(pc-s){
                                margin: 38px 0 48px 0em;
                            }
                            @include m.mq(tab-s){
                                margin: 22px 40px 18px 40px;
                            }
                            @include m.mq(sp-s){
                                margin: 22px 0px 18px 0;
                            }
                        }
                }
            }
            &__in-box{
                display: flex;
                align-items: center;
                justify-content: center;
                max-width: 96%;
                gap: 46px;
                font-weight: 500;
                @include m.mq(pc-s){
                    max-width: 100%;
                }
                &__pic{
                    @include m.mq(pc-s){
                        width: 200px;
                    }
                    @include m.mq(sp-s){
                        width: 108px;
                    }
                    img{
                        @include m.mq(sp-s){
                            width: 108px;
                        }
                    }
                }
                @include m.mq(tab-s){
                    flex-direction: row-reverse;
                    gap: 16px;
                    margin-bottom: 32px;
                    max-width: 100%;
                }
                &__text{
                    max-width: 290px;
                    @include m.mq(sp){
                        max-width: 216px;
                    }
                    &--txt{
                        font-size: 20px;
                        line-height: 1.7;
                        margin-bottom: 48px;
                        @include m.mq(tab-s){
                            font-size: 14px;
                            text-align: left;
                            margin-bottom: 0px;
                        }
                    }
                    &--store{
                        font-size: 14px;
                        margin-bottom: 8px;
                        letter-spacing: .06em;
                        &_pc{
                            @include m.mq(tab-s){
                                display: none;
                            }
                        }
                        &_sp{
                            display: none;
                            @include m.mq(tab-s){
                                display: block;
                                letter-spacing: .03em;
                                text-align: right;
                            }
                        }
                    }
                    &--name{
                        font-size: 32px;
                        letter-spacing: .06em;
                        font-weight: bold;
                        text-align: right;
                        padding-right: .2em;
                        &_pc{
                            @include m.mq(tab-s){
                                display: none;
                            }
                        }
                        &_sp{
                            display: none;
                            @include m.mq(tab-s){
                                display: block;
                                font-size: 24px;
                                text-align: right;
                            }
                        }
                    }
                    &__pic{
                        img{
                            max-width: 244px;
                            @include m.mq(tab-s){
                                max-width: 108px;
                            }
                        }
                    }
                }
            }
        }
        //contents
        &__pre{
            text-align: left;
            padding-bottom: 108px;
            @include m.mq(tab-s){
                padding-bottom: 18px;
            }
            &--title{
                font-size: 14px;
                background-color: #343434;
                max-width: 97px;
                color: #fff;
                padding: 4px 8px;
                border-radius: 4px;
            }
            &__list{
                &__item{
                    font-size: 14px;
                    line-height: 1.5;
                    @include m.mq(tab-s){
                        font-size: 10px;
                    }
                    &_other{
                        text-align: right;
                    }
                }
            }
            &__in-box{
                background-color: rgba(255,255,255,.5);
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 64px;
                max-width: 808px;
                margin: 0 auto;
                padding: 32px 64px;
                @include m.mq(tab-s){
                    flex-direction: column;
                    gap: 16px;
                    padding: 16px 4px;
                }
            }
        }
    }
}