@use "../../../base/vars" as v;
@use "../../../mixin/breakpoints" as m;
@use "../../../mixin/sec" as sec;

.choose{
    max-width: 1920px;
    margin: 0 auto;
    padding: 124px 0 124px;
    font-weight: 500;
    @include m.mq(pc-s){
        padding: 64px 0 128px;
    }
    @include m.mq(sp-s){
        padding: 36px 0 36px;
    }
    &__title-box{
        padding: 56px 0 70px 0;
        max-width: 989px;
        margin: 0 auto;
        background-image: url(../../../../addfiles/img/top/pc/choose_line_01.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        margin-bottom: 88px;
        text-align: center;
        @include m.mq(pc-s){
            max-width: 600px;
        }
        @include m.mq(tab-s){
            max-width: 420px;
            padding: 18px 0 28px 0;
        }
        @include m.mq(sp-s){
            max-width: 322px;
            margin-bottom: 48px;
            padding: 18px 0 22px 0;
        }
        &__title{
            font-size: 32px;
            margin-bottom: 40px;
            background: linear-gradient(90.62deg, #504337 -3.18%, #B4AE9B 104.14%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            @include m.mq(sp){
                font-size: 24px;
                margin-bottom: 12px;
            }

        }
        &__text{
            line-height: 1.7;
            font-size: 18px;
            @include m.mq(sp){
                font-size: 12px;
            }
        }
    }
    &__point-1,
    &__point-3{
        margin: 0 auto 80px auto;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        gap: 20px;
        max-width: 1258px;
        @include m.mq(pc-s){
            flex-direction: column;
            align-items: center;
            max-width: 768px;
        }
        @include m.mq(sp-s){
            margin: 0 auto 24px auto;
        }
        &_3{
            gap: 48px;
            @include m.mq(pc-s){
                gap: 0;
            }
        }
        &__contents{
            max-width: 38.5%;
            width: 100%;
            position: relative;
            @include m.mq(pc-s){
                max-width: 600px;
            }
            @include m.mq(sp-s){
                max-width: 375px;
            }
            &_3{
                max-width: 42.5%;
                @include m.mq(pc-s){
                    max-width: 600px;
                }
            }
            &::before{
                content: "";
                display: inline-block;
                width: 1px;
                height: 100%;
                background-color: #8A785B;
                position: absolute;
                left: 48px;
                @include m.mq(sp-s){
                    left: 32px;
                }
            }
            &__title{
                border-bottom: solid 1px #C5B59D;
                font-family:var(--font-family-italia);
                font-size: 41px;
                padding-left: 80px;
                margin-bottom: 48px;
                line-height: .9;
                @include m.mq(pc-s){
                    margin-bottom: 12px;
                }
                @include m.mq(sp-s){
                    font-size: 31px;
                    padding-left: 42px;
                    max-width: 280px;
                }
                &_num{
                    display: inline-block;
                    font-size: 69px;
                    letter-spacing: .06em;
                    margin-left: 8px;
                    background: linear-gradient(29.88deg, #504337 6.56%, #B4AE9B 54.08%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                    @include m.mq(sp-s){
                        font-size: 42px;
                    }
                }
            }
            &__box{
                padding-left: 80px;
                font-weight: 500;
                padding-bottom: 68px;
                @include m.mq(pc-s){
                    margin-bottom: 42px;
                    padding-bottom: 0px;
                }
                @include m.mq(sp-s){
                    padding-left: 42px;
                    margin-bottom: 0px;
                }
                &__lead{
                    font-size: 32px;
                    line-height: 1.7;
                    margin-bottom: 68px;
                    background: linear-gradient(84.74deg, #504337 3.76%, #B4AE9B 91.56%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                    @include m.mq(pc-s){
                        margin-bottom: 42px;
                        font-size: 28px;
                    }
                    @include m.mq(sp){
                        font-size: 24px;
                    }
                    &_3{
                        /*上書き*/
                        font-size: 31px;
                        margin-bottom: 46px;
                        @include m.mq(pc-s){
                            font-size: 28px;
                        }
                        @include m.mq(sp){
                            font-size: 24px;
                        }
                    }
                    &__cont{
                        font-size: 24px;
                        letter-spacing: .075em;
                        color: #54483c;
                        padding: 0 8px 8px 8px;
                        border-left: 1px solid #8A785B;
                        border-bottom: 1px solid #8A785B;
                        margin-bottom: 76px;
                        display: inline-block;
                        white-space: nowrap;
                        @include m.mq(pc-s){
                            margin-bottom: 12px;
                        }
                        &_3{
                            margin-bottom: 40px;
                            @include m.mq(pc-s){
                                margin-bottom: 12px;
                            }
                        }
                    }
                    &__list{
                        padding-left: 8px;
                        margin-bottom: 24px;
                        @include m.mq(sp){
                            padding-left: 2px;
                        }
                        &__item{
                            line-height: 1.7;
                            letter-spacing: .07em;
                            font-size: 16px;
                            margin-bottom: 1em;
                            @include m.mq(pc-s){
                                line-height: 1.7;
                            }
                            @include m.mq(sp-s){
                                font-size: 12px;
                            }
                        }
                    }
                    &__bottom{
                        font-size: 14px;
                        text-align: right;
                        @include m.mq(pc-s){
                            text-align: left;
                        }
                        @include m.mq(sp-s){
                            font-size: 12px;
                            text-align: center;
                        }
                    }
                }
                
            }
        }
        &__pic{
            max-width: 53.5%;
            width: 100%;
            margin-bottom: 60px;
            @include m.mq(pc-s){
                max-width: 64%;
            }
            @include m.mq(sp){
                max-width: 80%;
            }
            &_3{
                max-width: 53.5%;
                width: 100%;
                margin-bottom: 40px;
                @include m.mq(pc-s){
                    display: none;
                }
            }
        }
    }
    &__point-2{
        max-width: 1280px;
        margin: 0 auto;
        position: relative;
        @include m.mq(pc-s){
            margin: 0 auto 64px auto;
            max-width: 768px;
        }
        @include m.mq(tab-s){
            max-width: 468px;
        }
        &__inner{
            max-width: 1072px;
            margin-left: auto;
            @include m.mq(pc-s){
                max-width: 600px;
                margin: 0 auto 64px auto;
            }
            @include m.mq(tab-s){
                max-width: 468px;
            }
            &::before{
                content: "";
                display: inline-block;
                width: 1px;
                height: 100%;
                background-color: #8A785B;
                position: absolute;
                top: 0px;
                right: 446px;
                @include m.mq(pc-s){
                    right: 148px;
                    height: 64%;
                }
                @include m.mq(tab-s){
                    right: 34px;
                }
            }
        }
        &__box{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 66px;
            @include m.mq(pc-s){
                gap: 0;
                justify-content: flex-end;
                max-width: 674px;
                text-align: right;
                padding-right: 97px;
            }
            @include m.mq(tab-s){
                padding-right: 0px;
            }
            &__pic{
                max-width: 537px;
                &_pc{
                    @include m.mq(pc-s){
                        display: none;
                    }
                }
                &_sp{
                    display: none;
                    @include m.mq(pc-s){
                        display: block;
                        margin: 0 auto;
                        text-align: center;
                    }
                    @include m.mq(sp-s){
                        margin: 0;
                        margin-left: auto;
                        width: 70%;
                    }
                }
            }
        }
        &__title{
            border-bottom: solid 1px #C5B59D;
            font-family:var(--font-family-italia);
            font-size: 41px;
            margin-bottom: 48px;
            line-height: .9;
            text-align: right;
            padding-right: 284px;
            @include m.mq(pc-s){
                padding-right: 97px;
                max-width: 600px;
                margin-left: auto;
            }
            @include m.mq(tab-s){
                padding-right: 64px;
                margin-bottom: 24px;
            }
            @include m.mq(sp-s){
                font-size: 31px;
                padding-right: 48px;
                max-width: 346px;
            }
            &_num{
                display: inline-block;
                font-size: 69px;
                letter-spacing: .06em;
                margin-left: 8px;
                background: linear-gradient(29.88deg, #504337 6.56%, #B4AE9B 54.08%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
                @include m.mq(sp-s){
                    font-size: 42px;
                }
            }
        }
        &__contents{
            &__box{
                padding-left: 18px;
                @include m.mq(tab-s){
                    padding-left: 0px;
                    padding-right: 64px;
                }
                @include m.mq(sp-s){
                    padding-right: 48px;
                }
                    &__lead{
                        font-size: 32px;
                        line-height: 1.7;
                        margin-bottom: 64px;
                        background: linear-gradient(84.74deg, #504337 3.76%, #B4AE9B 91.56%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        text-fill-color: transparent;
                        @include m.mq(pc-s){
                            margin-bottom: 30px;
                        }
                        @include m.mq(tab-s){
                            font-size: 28px;
                        }
                        @include m.mq(sp){
                            font-size: 24px;
                        }
                        &__cont{
                            font-size: 24px;
                            letter-spacing: .075em;
                            color: #54483c;
                            padding: 0 8px 8px 8px;
                            border-left: 1px solid #8A785B;
                            border-bottom: 1px solid #8A785B;
                            margin-bottom: 68px;
                            display: inline-block;
                            white-space: nowrap;
                            @include m.mq(pc-s){
                                border-right: 1px solid #8A785B;
                                border-left: none;
                            }
                            @include m.mq(tab-s){
                                margin-bottom: 12px;
                            }
                        }
                        &__list{
                            padding-left: 8px;
                            margin-bottom: 24px;
                            &__item{
                                line-height: 1.7;
                                letter-spacing: .07em;
                                margin-bottom: 1em;
                                font-size: 16px;
                                @include m.mq(sp){
                                    line-height: 1.7;
                                    font-size: 13px;
                                }
                            }
                        }
                        &__bottom{
                            font-size: 14px;
                            text-align: right;
                            @include m.mq(sp){
                                font-size: 12px;
                            }
                        }
                    }
            }
        }
    }
    &__bottom{
        max-width: 1270px;
        margin: 0 auto;
        @include m.mq(pc-s){
            text-align: center;
        }
        &__pic{
            img{
                max-width: 1024px;
                @include m.mq(pc-s){
                    max-width: 768px;
                    width: 100%;
                    margin: 0 auto;
                }
                @include m.mq(tab-s){
                    max-width: 460px;
                }
            }
        }
    }
}