@use "../../../base/vars" as v;
@use "../../../mixin/breakpoints" as m;

/*改行クラス*/

.br-pc-r{
    display: none;
}

@media screen and (max-width: 1536px) {
    .br-pc-r{
        display: block;
    }
}

.br-pc{
    display: none;
    @include m.mq(pc){
        display: block;
    }
}

.br-pc-s{
    display: none;
    @include m.mq(pc-s){
        display: block;
    }
}

.br-pc-s_none{
    display: block;
    @include m.mq(pc-s){
        display: none;
    }
}

.br-tab{
    display: none;
    @include m.mq(tab){
        display: block;
    }
}

.br-tab-s{
    display: none;
    @include m.mq(tab-s){
        display: block;
    }
}

.br-tab-s_none{
    display: block;
    @include m.mq(tab-s){
        display: none;
    }
}

.br-sp{
    display: none;
    @include m.mq(sp){
        display: block;
    }
}

.br-sp_none{
    display: block;
    @include m.mq(sp){
        display: none;
    }
}

/*cta(上から順にcta_1,cta_2とクラスを付与)*/

.cta{
    margin: 0 auto;
    text-align: center;
}

.cta__inner{
    max-width: 897px;
    padding: 36px 0 46px;
    text-align: center;
    border: 7px solid;
    -o-border-image: linear-gradient(to right, rgb(108, 75, 12) , rgb(180, 160, 121));
       border-image: linear-gradient(to right, rgb(108, 75, 12) , rgb(180, 160, 121));
    border-image-slice: 1;
    margin: 0 auto;
}

.cta_1{
    margin: 0 2vw 249px 2vw;
}

.cta_2{
    margin: 0 2vw 214px 2vw;
}

.cta_3{
    margin: 0 2vw;
}

.cta__title{
    background: linear-gradient(87.93deg, #6F4E10 2.14%, #B29E76 94.83%);
    border-radius: 20px;
    color: #fff;
    font-size: 24px;
    max-width: 214px;
    margin: 0 auto 32px auto;
    line-height: 34.15px;
    padding: 4px 0;
}

.cta__lead{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 24px;
}

.cta__text{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 49px;
}

.cta__text_sp-br{
    display: none;
}

.cta__list{
    max-width: 589px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cta__list__item{
    max-width: 267px;
    width: 100%;
}

.cta__list__item_num{
    background-color: #634512;
}

.cta__list__item_mail{
    background-color: #A17934;
}

.cta__list__item__link{
    display: inline-block;
    width: 100%;
    padding: 16px 0;
    font-size: 20px;
    color: #fff;
    line-height: 1.5;
    box-sizing: border-box;
}

.cta__list__item__link{
    width: 100%;
}

.cta__list__item__link--num{
    letter-spacing: .05em;
}

/*----------------------------------------------*/
/*レスポンシブ設定(sp)*/
/*----------------------------------------------*/
@media screen and (max-width:600px) {

    /*-----------------------*/
    /*共通(common_sp)*/
    /*-----------------------*/
    
    .cta__inner{
        margin: 0px 4vw;
        padding: 34px 14px 42px;
        border: 3px solid;
        -o-border-image: linear-gradient(to right, rgb(108, 75, 12) , rgb(180, 160, 121));
           border-image: linear-gradient(to right, rgb(108, 75, 12) , rgb(180, 160, 121));
        border-image-slice: 1;
    }
    
    .cta__title{
        font-size: 14px;
        max-width: 140px;
        margin: 0 auto 22px auto;
        line-height:22px;
        padding: 4px 0;
        letter-spacing: .1em;
    }
    
    .cta__lead {
        font-size: 24px;
    }
    
    .cta__text {
        font-size: 14px;
        line-height: 2;
        margin-bottom: 20px;
    }
    
    .cta__text_sp-br{
        display: block;
    }
    
    .cta__list{
        gap: 16px;
    }
    
    .cta__list__item__link {
        font-size: 14px;
        padding: 14px 0;
    }
    
    .cta_1 {
        margin: 0px 4vw 54px 4vw;
    }
    
    .cta_2 {
        margin: 0 auto 58px auto;
    }
}

/*各セクション背景*/

.section-bg_01{
    background-image: url(../../../../addfiles/img/top/pc/bg_01.png);
    background-size: cover;
}

.no-webp .section-bg_01{
    background-image: url(../../../../addfiles/img/top/pc/bg_01.png);
    background-size: cover;
}

.webp .section-bg_01{
    background-image: url(../../../../addfiles/img/top/pc/bg_01.webp);
    background-size: cover;
}

.section-bg_02{
    background-image: url(../../../../addfiles/img/top/pc/bg_02.png);
    background-size: cover;
}

.no-webp .section-bg_02{
    background-image: url(../../../../addfiles/img/top/pc/bg_02.png);
    background-size: cover;
}

.webp .section-bg_02{
    background-image: url(../../../../addfiles/img/top/pc/bg_02.webp);
    background-size: cover;
}

.section-bg_03{
    background-image: url(../../../../addfiles/img/top/pc/bg_03.png);
    background-size: cover;
    // padding-bottom: 20%;
}

.no-webp .section-bg_03{
    background-image: url(../../../../addfiles/img/top/pc/bg_03.png);
    background-size: cover;
    padding-bottom: 20%;
}

.webp .section-bg_03{
    background-image: url(../../../../addfiles/img/top/pc/bg_03.webp);
    background-size: cover;
    // padding-bottom: 20%;
}

.section-bg_04{
    background-image: url(../../../../addfiles/img/top/pc/bg_04.png);
    background-size: cover;
    padding-top: 189px;
    padding-bottom: 200px;

}

.no-webp .section-bg_04{
    background-image: url(../../../../addfiles/img/top/pc/bg_04.png);
    background-size: cover;
    padding-top: 189px;
    padding-bottom: 200px;
}

.webp .section-bg_04{
    background-image: url(../../../../addfiles/img/top/pc/bg_04.webp);
    background-size: cover;
    padding-top: 189px;
    padding-bottom: 200px;
}

/*背景切り替えPC→スマホへ*/
/*PCでは背景を区切っているが、スマホは上から下まで一括で設置*/
.section-bg_01,
.section-bg_02,
.section-bg_03,
.section-bg_04,
.no-webp .section-bg_01,
.no-webp .section-bg_02,
.no-webp .section-bg_03,
.no-webp .section-bg_04,
.webp .section-bg_01,
.webp .section-bg_02,
.webp .section-bg_03,
.webp .section-bg_04{
    @include m.mq(sp){
        background-image: none;
    }
    
}

.webp #section-bg_sp.section-bg_04 {
    @include m.mq(sp){
        padding-top: 84px;
        padding-bottom: 64px;
    }
}

.webp .section-bg_04 {
    @include m.mq(sp){
        background-image: url(../../../../addfiles/img/top/pc/bg_04.webp);
        background-size: cover;
        padding-top: 72px;
        padding-bottom: 64px;
    }
}

#section-bg_sp.section-bg_sp{
    background-image: none;
    @include m.mq(sp){
        background-image: url(../../../../addfiles/img/top/sp/bg_all.png);
        background-repeat: repeat-y;
    }
}

.no-webp #section-bg_sp.section-bg_sp{
    background-image: none;
    @include m.mq(sp){
        background-image: url(../../../../addfiles/img/top/sp/bg_all.png);
        background-repeat: repeat-y;
    }
}

.webp #section-bg_sp.section-bg_sp{
    background-image: none;
    @include m.mq(sp){
        background-image: url(../../../../addfiles/img/top/sp/bg_all.png);
        background-repeat: repeat-y;
    }
}