@use "../../../base/vars" as v;
@use "../../../mixin/breakpoints" as m;
@use "../../../mixin/sec" as sec;

.feature{
    padding-top: 241px;
    padding-bottom: 129px;
    @include m.mq(pc-s){
        padding-top: 128px;
        padding-bottom: 128px;
    }
    @include m.mq(tab-s){
        padding-bottom: 0px;
    }
    @include m.mq(sp){
        padding-top: 64px;
    }
    @include m.mq(sp-s){
        padding-top: 52px;
    }
    .section-title-box{
        max-width: 810px;
        @include sec.sec_01;
        @include m.mq(pc-s){
            max-width: 540px;
        }
        @include m.mq(sp){
            max-width: 270px;
            line-height: 1.2;
        }
        @include m.mq(sp-ss){
            max-width: 252px;
        }
        &__main{
            //上書き
            font-size: 42px;
            @include m.mq(tab){
                font-size: 28px;
            }
            @include m.mq(sp){
                font-size: 22px;
                line-height: 1.5;
            }
            @include m.mq(sp-ss){
                font-size: 20px;
            }
        }
    }
    &__box{
        max-width: 1404px;
        margin: 0 auto 0px auto;
        padding-bottom: 129px;
        position: relative;
        @include m.mq(pc-s){
            padding-bottom: 0;
        }
        &--line{
            display: inline-block;
            width: 174px;
            height: 1px;
            background-color: #1b1b1b;
            position: absolute;
            bottom: 16px;
            left: 0;
            @include m.mq(pc-s){
                display: none;
            }
            &::before{
                content: "";
                display: inline-block;
                height: 174px;
                width: 1px;
                background-color: #1b1b1b;
                position: absolute;
                bottom: -16px;
                left: 16px;
            }
        }
    }
    &__list{
        max-width: 1286px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 48px;
        padding: 0 2vw;
        margin-bottom: 129px;
        @include m.mq(pc-s){
            gap: 24px;
            flex-direction: column;
            margin-bottom: 0px;
        }
        @include m.mq(tab-s){
            padding: 0 4vw;
        }
        &__item{
            width: calc(50% - 48px);
            font-weight: 500;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-repeat: no-repeat;
            background-position: center;
            color: #fff;
            height: 400px;
            text-align: center;
            @include m.mq(pc-s){
                width: 100%;
            }
            @include m.mq(sp){
                background-size: 418px;
                padding: 0 0;
                height: 290px;
            }
            @include m.mq(sp-s){
                padding: 80px 8px;
            }
            &:nth-of-type(1){
                background-image: url(../../../../addfiles/img/top/pc/feature_01.jpg);

            }
            &:nth-of-type(2){
                background-image: url(../../../../addfiles/img/top/pc/feature_02.jpg);
            }
            &:nth-of-type(3){
                background-image: url(../../../../addfiles/img/top/pc/feature_03.jpg);
                @include m.mq(sp-s){
                    padding: 66px 8px;
                }
            }
            &:nth-of-type(4){
                background-image: url(../../../../addfiles/img/top/pc/feature_04.jpg);
            }
            &__title{
                font-size: 30px;
                letter-spacing: .085em;
                margin-bottom: 4px;
                white-space: nowrap;
                @include m.mq(pc-s){
                    font-size: 24px;
                }
                @include m.mq(sp){
                    margin-bottom: .8em;
                    font-size: 22px;
                }
            }
            &__text{
                font-size: 16px;
                letter-spacing: .085em;
                white-space: nowrap;
                @include m.mq(pc-s){
                    font-size: 16px;
                    line-height: 2;
                }
                @include m.mq(sp){
                    font-size: 14px;
                }
            }
        }
    }
}