@use "../../../base/vars" as v;
@use "../../../mixin/breakpoints" as m;

.merit{
    padding: 98px 2vw 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1267px;
    width: 100%;
    @include m.mq(pc-s){
        padding: 64px 4vw 0;
    }
    @include m.mq(sp){
        padding: 24px 4vw 0;
    }
        &__lead{
            background-image: url(../../../../addfiles/img/top/pc/merit_01.jpg);
            background-repeat: no-repeat;
            background-size: 1158px 247px;
            background-position: center;
            font-size: 41px;
            color: #fff;
            padding: 48px 120px;
            letter-spacing: 8.5%;
            text-align: center;
            line-height: 1.7;
            text-align: center;
            font-weight: bold;
            white-space: nowrap;
            @include m.mq(pc){
                font-size: 30px;
                background-size: 1070px 200px;
                height: 200px;
                padding: 32px 120px 48px 120px;
            }
            @include m.mq(pc-s){
                font-size: 26px;
                background-size: 658px 200px;
                padding: 46px 64px 0 63px;
                line-height: 2;
            }
            @include m.mq(tab-s){
                background-image: url(../../../../addfiles/img/top/sp/sp-merit_01.png);
                background-size: 550px 300px;
                height: 300px;
            }
            @include m.mq(sp){
                background-size: 332px 206px;
                height: 206px;
                padding: 44px 0px 0px 0px;
                font-size: 14px;
                width: 100%;
            }
                &--color{
                    color: #FAFCAB;
                    font-size: 51px;
                    @include m.mq(pc){
                        font-size: 32px;
                    }
                    @include m.mq(pc-s){
                        font-size: 28px;
                    }
                    @include m.mq(sp){
                        font-size: 19px;
                    }
                }
                //括弧の部分だけ
                &--other{
                    font-size: 51px;
                    font-weight: normal;
                    @include m.mq(pc){
                        font-size: 32px;
                    }
                    @include m.mq(pc-s){
                        font-size: 28px;
                    }
                    @include m.mq(sp){
                        font-size: 19px;
                    }
                }
        }
}