@use "../../../base/vars" as v;
@use "../../../mixin/breakpoints" as m;
@use "../../../mixin/sec" as sec;

.problem{
    margin: 0 auto;
    .section-title-box{
        max-width: 450px;
        @include sec.sec_01;
        /*上書き*/
        font-size: 31px;
        @include m.mq(pc-s){
            max-width: 450px;
        }
        @include m.mq(sp){
            max-width: 355px;
        }
        @include m.mq(sp-ss){
            max-width: 320px;
        }
    }
    &__title{
        background-image: url(../../../../addfiles/img/top/pc/line_04.png);
        background-repeat: no-repeat;
        background-size: 989px 104px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background-position: center;
        margin-bottom: 70px;
        @include m.mq(pc-s){
            background-size: 720px 104px;
        }
        @include m.mq(tab-s){
            background-size: 584px 113px;
        }
        @include m.mq(sp){
            background-image: url(../../../../addfiles/img/top/sp/sp-line_04.png);
            background-size: 329px 133px;
            margin-bottom: 0px;
        }
            &--text{
                max-width: 989px;
                padding: 34px 0;
                font-weight: 500;
                letter-spacing: .085em;
                text-align: center;
                font-size: 32px;
                margin-bottom: 16px;
                background: linear-gradient(90.13deg, #504337 0.06%, #B4AE9B 104.05%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
                @include m.mq(pc-s){
                    font-size: 28px;
                }
                @include m.mq(tab-s){
                    font-size: 24px;
                    line-height: 1.5;
                    padding: 20px 0 24px 0;
                }
            }
    }
    &__case1{
        max-width: 1920px;
        margin: 94px auto 136px auto;
        position: relative;
        @include m.mq(pc-s){
            margin: 72px auto 124px auto;
        }
        @include m.mq(tab){
            margin: 72px auto 90px auto;
        }
        @include m.mq(sp){
            margin: 60px auto 64px auto;
        }
        &__contents{
            max-width: 1920px;
            margin: 0 auto;
            &__in-box{
                max-width: 1408px;
                margin: 94px auto;
                @include m.mq(tab){
                    margin: 0px auto 64px auto;
                }
                @include m.mq(sp){
                    margin: 0px auto 42px auto;
                }
            }
            &__pic{
                max-width: 934px;
                position: absolute;
                right: 0;
                top: 16px;
                z-index: 0;
                @include m.mq(pc-xr){
                    max-width: 789px;
                }
                @include m.mq(pc-r){
                    max-width: 670px;
                }
                @include m.mq(pc-s){
                    display: none;
                }
                img{
                    max-width: 934px;
                    @include m.mq(pc-xr){
                        max-width: 788px;
                    }
                    @include m.mq(pc-r){
                        max-width: 670px;
                    }
                }
            }
            &__textarea{
                padding: 73px 109px;
                position: relative;
                z-index: 1;
                @include m.mq(pc-s){
                    max-width: 760px;
                    margin: 0 auto;
                    padding: 22px 0px 22px 40px;
                }
                @include m.mq(tab){
                    max-width: 760px;
                    margin: 0 auto;
                    padding: 22px 0px 22px 32px;
                }
                    &__num{
                        font-family:var(--font-family-italia);
                        font-size: 74px;
                        letter-spacing: .085em;
                        color: #52463a;
                        padding-left: .5em;
                        @include m.mq(tab){
                            font-size: 48px;
                        }
                        @include m.mq(sp){
                            font-size: 31px;
                        }
                    }
                    &__sp-pic{
                        display: none;
                        @include m.mq(pc-s){
                            display: inline-block;
                        }
                    }
                    &__title{
                        display: inline-block;
                        padding: .2em .8em;
                        font-size: 46px;
                        letter-spacing: .085em;
                        color: #fff;
                        background: linear-gradient(90.13deg, #504337 0.06%, #B4AE9B 104.05%);
                        margin-bottom: 47px;
                        font-weight: 500;
                        white-space: nowrap;
                        @include m.mq(pc-r){
                            font-size: 36px;
                        }
                        @include m.mq(pc-s){
                            font-size: 36px;
                            background: none;
                            margin: -70px 0 40px -1em;
                        }
                        @include m.mq(sp){
                            font-size: 26px;
                            margin: -70px 0 20px -1em;
                        }
                        &_sp{
                            @include m.mq(pc-s){
                                display: inline-block;
                                background: linear-gradient(90.13deg, #504337 0.06%, #B4AE9B 104.05%);
                                white-space: nowrap;
                            }
                            &:nth-of-type(1){
                                margin-bottom: 12px;
                            }
                        }
                    }
                    &__text{
                        font-size: 24px;
                        letter-spacing: .1em;
                        font-weight: 500;
                        color: #1b1b1b;
                        line-height: 2;
                        @include m.mq(sp){
                            font-size: 14px;
                            padding: 0 12px 0 0.5em;
                            letter-spacing: .02em;
                        }
                    }
            }
        }
        &__line-top,
        &__line-bottom{
            display: inline-block;
            width: 174px;
            height: 1px;
            position: absolute;
            background-color: #1b1b1b;
            @include m.mq(pc-s){
                width: 72px;
            }
            @include m.mq(sp){
                width: 44px;
            }
        }
        &__line-top{
            top: 40px;
            left:0;
            @include m.mq(pc-s){
                left: 16px;
                top: 0;
            }
        }
        &__line-bottom{
            bottom: 0px;
            right: 8px;
            @include m.mq(pc-xr){
                right: 8px;
            }
            @include m.mq(pc){
                right: 16px;
            }
            @include m.mq(pc-s){
                right: 4px;
            }
            @include m.mq(sp){
                right: 0px;
            }
        }
        &__line-top::before,
        &__line-bottom::before{
            content: "";
            display: inline-block;
            height: 174px;
            width: 1px;
            background-color: #1b1b1b;
            position: absolute;
            @include m.mq(pc-s){
                height: 72px;
            }
            @include m.mq(sp){
                height: 44px;
            }
        }
        &__line-top::before{
            top: -14px;
            left: 14px;
            @include m.mq(pc-s){
                top: -8px;
                left: 8px;
            }
        }
        &__line-bottom::before{
            bottom: -14px;
            right: 14px;
            @include m.mq(pc-s){
                bottom: -14px;
                right: 14px;
            }
            @include m.mq(sp){
                bottom: -8px;
                right: 8px;
            }
        }
        &__bottom-contents{
            max-width: 1290px;
            margin: 264px auto 0 auto;
            padding: 76px 0 96px;
            border: solid 3px;
            -o-border-image:linear-gradient(90.37deg, #504337 -241.59%, #574B3F -241.56%, #B4AE9B 100.89%) ;
            border-image:linear-gradient(90.37deg, #504337 -241.59%, #574B3F -241.56%, #B4AE9B 100.89%) ;
            border-image-slice: 1;
            text-align: center;
            position: relative;
            @include m.mq(pc){
                max-width: 1100px;
                margin: 128px auto 0 auto;
            }
            @include m.mq(pc-s){
                max-width: 643px;
                padding: 76px 16px 96px;
            }
            @include m.mq(tab-s){
                -o-border-image: none;
                border-image: none;
                border: none;
                padding: 0px;
            }
            @include m.mq(sp){
                padding: 0px;
                margin: 12px auto 0 auto;
            }
            &::before,
            &::after{
                content: "";
                display: inline-block;
                position: absolute;
                @include m.mq(tab-s){
                    display: none;
                }
            }
            &::before{
                width: 166px;
                height: 50px;
                background: #55483C;
                bottom: -25px;
                left: -50px;
            }
            &::after{
                width: 37px;
                height: 14px;
                background: linear-gradient(14.36deg, #504337 -126.56%, #B4AE9B 105.09%);
                top: -8px;
                right: -18px;
                @include m.mq(sp){
                    right: 0px;
                }
            }
        }
        &__bottom-r-box{
            padding: 0 2vw 160px 2vw;
            margin: 0 auto;
            max-width: 1434px;
            position: relative;
            @include m.mq(pc-s){
                max-width: 746px;
                padding: 0 2vw 64px 2vw;
            }
            @include m.mq(sp){
                padding: 0 2vw 24px 2vw;
            }
        }
        &__bottom-contents{
            position: relative;
            &__list{
                max-width: 1100px;
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                gap: 69px;
                position: relative;
                @include m.mq(pc-s){
                    gap: 32px;
                }
                @include m.mq(tab-s){
                    border: solid 3px;
                    -o-border-image:linear-gradient(90.37deg, #504337 -241.59%, #574B3F -241.56%, #B4AE9B 100.89%) ;
                    border-image:linear-gradient(90.37deg, #504337 -241.59%, #574B3F -241.56%, #B4AE9B 100.89%) ;
                    border-image-slice: 1;
                    padding: 18px;
                    gap: 18px;
                    max-width: 534px;
                }
                @include m.mq(sp){
                    max-width: 324px;
                    gap: 8px;
                    padding: 16px 8px;
                }
                &::before,
                &::after{
                    content: "";
                    display: none;
                    @include m.mq(sp){
                        display: inline-block;
                        position: absolute;
                    }
                }
                &::before{
                    @include m.mq(sp){
                        width: 42px;
                        height: 14px;
                        background: #55483C;
                        left:-14px;
                        bottom: 40px;
                    }
                }
                &::after{
                    @include m.mq(sp){
                        width: 6px;
                        height: 25px;
                        background: linear-gradient(14.36deg, #504337 -126.56%, #B4AE9B 105.09%);
                        top: -14px;
                        right: 4px;
                    }
                }
                &__item{
                    padding: 8px;
                    color: #fff;
                    &__box{
                        border: solid 1px #fff;
                        padding: 16px;
                        font-size: 24px;
                        @include m.mq(pc-s){
                            line-height: 1.5;
                            font-size: 18px;
                            height: 86px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        @include m.mq(sp){
                            line-height: 1.5;
                            font-size: 14px;
                            height: 56px;
                            padding: 16px 8px;
                        }
                    }
                    &_1,
                    &_2,
                    &_3{
                        width: 294px;
                        @include m.mq(pc-s){
                            width: 236px;
                            height: 104px;
                        }
                        @include m.mq(sp){
                            width: 146px;
                            height: 72px;
                        }
                    }
                    &_4,
                    &_5{
                        width: 357px;
                        @include m.mq(pc-s){
                            width: 236px;
                            height: 104px;
                        }
                        @include m.mq(sp){
                            width: 146px;
                            height: 72px;
                        }
                    }
                    &_1{
                        background: linear-gradient(90.25deg, #504337 -5.14%, #574B3F -5.11%, #B4AE9B 343.24%);
                        @include m.mq(pc-s){
                            background: linear-gradient(87.64deg, #373E50 -2.08%, #574B3F -2.06%, #B4AE9B 207.91%);
                            order: 1;
                        }
                    }
                    &_2{
                        background: linear-gradient(90.87deg, #504337 -116.14%, #574B3F -116.1%, #B4AE9B 215.73%);
                        //本を・・・
                        @include m.mq(pc-s){
                            background: linear-gradient(87.64deg, #373E50 -2.08%, #574B3F -2.06%, #B4AE9B 207.91%);
                            order: 3;
                        }
                    }
                    &_3{
                        background: linear-gradient(90.37deg, #504337 -241.59%, #574B3F -241.56%, #B4AE9B 100.89%);
                        //取材を・・・
                        @include m.mq(pc-s){
                            background: linear-gradient(88.54deg, #504337 -102.94%, #574B3F -102.92%, #B4AE9B 112.03%);
                            order: 2;
                        }
                    }
                    &_4{
                        background: linear-gradient(89.47deg, #504337 -31.74%, #574B3F -31.72%, #B4AE9B 242.59%);
                        //情報発信・・・
                        @include m.mq(pc-s){
                            background: linear-gradient(88.54deg, #504337 -102.94%, #574B3F -102.92%, #B4AE9B 112.03%);
                            order: 4;
                        }
                    }
                    &_5{
                        background: linear-gradient(89.31deg, #504337 -144.66%, #574B3F -144.64%, #B4AE9B 132.57%);
                        @include m.mq(pc-s){
                            background: linear-gradient(87.64deg, #373E50 -2.08%, #574B3F -2.06%, #B4AE9B 207.91%);
                            order: 5;
                        }
                    }
                }
            }
        }
    }
    //problem・・・
    &__case2{
        max-width: 1920px;
        margin: 0 auto;
        position: relative;
        &__contents{
            max-width: 1396px;
            margin: 0 auto;
            position: relative;
            z-index: 1;
            @include m.mq(pc-xr){
                max-width: 1468px;
            }
            @include m.mq(pc-s){
                max-width: 760px;
            }
            &__pic{
                max-width: 934px;
                position: absolute;
                left: 0;
                top: 64px;
                z-index: 0;
                @include m.mq(pc-s){
                    display: none;
                }
                img{
                    max-width: 972px;
                    @include m.mq(pc-xr){
                        max-width: 808px;
                    }
                }
            }
        }
        &__line-top{
            display: inline-block;
            width: 174px;
            height: 1px;
            position: absolute;
            background: #55483C;
        }
        &__line-top{
            top: 0;
            right: -12px;
            @include m.mq(pc-xr){
                right: 16px;
            }
            @include m.mq(pc-s){
                width: 72px;
                right: 8px;
            }
            @include m.mq(sp){
                width: 44px;
                right: 0px;
            }
        }
        &__line-top::before{
            content: "";
            display: inline-block;
            width: 1px;
            height: 174px;
            position: absolute;
            background: #55483C;
            @include m.mq(pc-s){
                height: 72px;
            }
            @include m.mq(sp){
                height: 44px;
            }
        }
        &__line-top::before{
            top: -14px;
            right: 14px;
            @include m.mq(sp){
                top: -8px;
                right: 8px;
            }
        }
        &__in-box{
            padding: 44px 120px;
            margin-right: auto;
            text-align: right;
            @include m.mq(pc){
                padding: 44px 60px;
            }
            @include m.mq(pc-s){
                text-align: center;
                padding: 22px 40px;
            }
            @include m.mq(sp){
                padding: 22px 0px 22px 0px;
            }
                &__textarea{
                    margin-bottom: 72px;
                    @include m.mq(sp){
                        margin-bottom: 4px;
                    }
                    &__num{
                        display: block;
                        font-family:var(--font-family-italia);
                        font-size: 74px;
                        letter-spacing: .085em;
                        color: #afa997;
                        padding-right: .5em;
                        @include m.mq(pc-s){
                            text-align: right;
                            padding-right: 0;
                            line-height: .8;
                        }
                        @include m.mq(tab){
                            font-size: 48px;
                            margin-right: 16px;
                        }
                        @include m.mq(sp){
                            font-size: 31px;
                            margin-right: 32px;
                        }
                    }
                    //sp時画像挿入(既存と差し替え)
                    &__sp-pic{
                        display: none;
                        @include m.mq(pc-s){
                            display: inline-block;
                        }
                        @include m.mq(sp){
                            margin-right: 32px;
                        }
                    }
                    &__title{
                        display: inline-block;
                        padding: .2em .8em;
                        font-size: 46px;
                        letter-spacing: .085em;
                        color: #fff;
                        background: linear-gradient(90.13deg, #504337 0.06%, #B4AE9B 104.05%);
                        margin-bottom: 47px;
                        font-weight: 500;
                        white-space: nowrap;
                        @include m.mq(pc-xr){
                            margin-bottom: 30px;
                        }
                        @include m.mq(pc-r){
                            font-size: 36px;
                        }
                        @include m.mq(pc-s){
                            text-align: center;
                            margin: -27px auto 18px auto;
                        }
                        @include m.mq(tab-s){
                            font-size: 26px;
                        }
                        @include m.mq(sp){
                            font-size: 20px;
                            padding: .2em .6em;
                            margin: -27px auto 0px auto;
                        }
                    }
                    &__txt-box{
                        @include m.mq(pc-s){
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 4px;
                        }
                        @include m.mq(sp){
                            justify-content: center;
                            margin-left: 16px;
                        }
                        @include m.mq(sp-other){
                            justify-content: flex-start;
                        }
                    }
                    &__text_1{
                        font-size: 20px;
                        line-height: 1.81;
                        letter-spacing: 0.125em;
                        width: 344px;
                        text-align: left;
                        margin-left: auto;
                        background-image: url(../../../../addfiles/img/top/pc/line_06.png);
                        background-repeat: no-repeat;
                        background-size: 344px 184px;
                        padding: 38px 24px 66px 64px;
                        margin-right: 96px;
                        @include m.mq(pc-r){
                            font-size: 18px;
                            padding:25px 42px 66px 48px;
                            background-size: 320px 145px;
                            margin-right: 28px;
                        }
                        @include m.mq(pc){
                            padding: 25px 44px 60px 48px;
                            margin-right: 0px;
                        }
                        @include m.mq(pc-s){
                            background-image: url(../../../../addfiles/img/top/sp/sp-line_06.png);
                            background-size: 304px 153px;
                            padding: 25px 76px 60px 32px;
                            width: 355px;
                        }
                        @include m.mq(tab-s){
                            background-size: 222px 101px;
                            padding: 18px 61px 26px 24px;
                            width: 245px;
                            font-size: 12px;
                        }
                        @include m.mq(sp){
                            background-size: 159px 80px;
                            padding: 12px 18px 15px 10px;
                            width: 157px;
                            font-size: 10px;
                            margin-left: 0;
                        }
                    }
                    &__text_2{
                        font-size: 20px;
                        line-height: 1.81;
                        letter-spacing: 0.125em;
                        width: 344px;
                        text-align: left;
                        margin-left: auto;
                        background-image: url(../../../../addfiles/img/top/pc/line_06.png);
                        background-repeat: no-repeat;
                        background-size: 344px 184px;
                        padding: 21px 15px 21px 52px;
                        margin-right: 180px;
                        @include m.mq(pc-r){
                            font-size: 18px;
                            background-size: 320px 167px;
                            padding: 21px 38px 21px 52px;
                            margin-right: 90px;
                        }
                        @include m.mq(pc){
                            margin-right: 40px;
                        }
                        @include m.mq(pc-s){
                            background-image: url(../../../../addfiles/img/top/sp/sp-line_06.png);
                            background-size: 320px 170px;
                            padding: 24px 64px 24px 28px;
                            width: 370px;
                            margin-right: 0px;
                            margin-top: 36px;
                        }
                        @include m.mq(tab-s){
                            background-size: 222px 114px;
                            padding: 14px 56px 17px 24px;
                            width: 245px;
                            font-size: 12px;
                        }
                        @include m.mq(sp){
                            background-size: 159px 96px;
                            padding: 12px 16px 15px 10px;
                            width: 157px;
                            font-size: 10px;
                            margin-left: 0;
                            margin-top: 42px;
                        }
                    }
                }
        }
    }
    &__case-lead{
        max-width: 1030px;
        margin: 0 auto 108px auto;
        text-align: center;
        background-image: url(../../../../addfiles/img/top/pc/problem_bg_01.png);
        background-repeat: no-repeat;
        color: #fff;
        font-size: 34px;
        letter-spacing: 0.125em;
        line-height: 2;
        padding: 8px 0 12px;
        @include m.mq(pc-s){
            max-width: 626px;
            background-image: url(../../../../addfiles/img/top/sp/sp-problem_bg_01.png);
            background-size: 568px;
            font-size: 28px;
            background-position: center;
        }
        @include m.mq(sp){
            max-width: 328px;
            background-size: 328px;
            font-size: 20px;
            margin: 0 auto 24px auto;
        }
    }
        &__list-box{
            position: relative;
            max-width: 891px;
            margin: 0 auto;
        @include m.mq(pc-s){
            max-width: 716px;
        }
        @include m.mq(sp){
            max-width: 368px;
        }
        &__in-box{
            max-width: 891px;
            margin: 0 auto 94px auto;
            border: solid 3px;
            -o-border-image:linear-gradient(90.37deg, #504337 -241.59%, #574B3F -241.56%, #B4AE9B 100.89%) ;
               border-image:linear-gradient(90.37deg, #504337 -241.59%, #574B3F -241.56%, #B4AE9B 100.89%) ;
            border-image-slice: 1;
            position: relative;
            z-index: 1;
            padding: 40px 36px;
            @include m.mq(pc-s){
                max-width: 568px;
                padding: 12px 36px;
            }
            @include m.mq(sp){
                max-width: 330px;
                padding: 12px 12px 16px 12px;
                margin: 0 auto 26px auto;
            }
        }
        &_bg-box{
            display: inline-block;
            background-color: rgba(255,255,255,0.6);
            width: 891px;
            height: 474px;
            position: absolute;
            left: -48px;
            top: 24px;
            z-index: 1;
            @include m.mq(pc-s){
                width: 640px;
                height: 392px;
                left: 12px;
                top: 12px;
            }
            @include m.mq(tab){
                width: 609px;
            }
            @include m.mq(sp){
                width: 329px;
                height: 270px;
            }
        }
        &_s-box,
        &_r-box{
            display: inline-block;
            position: absolute;
        }
        &_s-box{
            width: 25px;
            height: 10px;
            background-color: #56493d;
            top: 24px;
            left: -12px;
        }
        &_r-box{
            width: 114px;
            height: 36px;
            background-color: #a9a391;
            bottom: 34px;
            right: -40px;
            @include m.mq(pc-s){
                width: 42px;
                height: 12px;
                bottom: 16px;
                right: -20px;
            }
            @include m.mq(sp){
                width: 20px;
                height: 8px;
                bottom: 8px;
                right: -10px;
            }
        }

        &--title{
            text-align: center;
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 50px;
            letter-spacing: 0.125em;
            z-index: 1;
            position: relative;
            @include m.mq(sp){
                font-size: 16px;
                margin-bottom: 24px;
            }
        }
        &__list{
            max-width: 704px;
            margin: 0 auto;
            z-index: 1;
            position: relative;
            &__item{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding-bottom: 12px;
                margin-bottom: 32px;
                border-bottom: solid 1px #bebebe;
                @include m.mq(sp){
                    margin-bottom: 18px;
                }
                &:nth-of-type(1){
                    font-size: 38px;
                    background: linear-gradient(90.13deg, #a39276 10.06%, #ddc092 94.05%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                    font-weight: bold;
                    
                    @include m.mq(pc-s){
                        font-size: 30px;
                    }
                    @include m.mq(sp){
                        font-size: 18px;
                    }
                }
                &:nth-of-type(2){
                    font-size: 28px;
                    background: linear-gradient(90.13deg, #bda075 10.06%, #c0b192 94.05%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                    font-weight: bold;
                    @include m.mq(pc-s){
                        font-size: 20px;
                    }
                    @include m.mq(sp){
                        font-size: 14px;
                    }
                }
                &:nth-of-type(3),
                &:nth-of-type(4),
                &:nth-of-type(5){
                    font-size: 20px;
                    color: #484848;
                    @include m.mq(pc-s){
                        font-size: 18px;
                    }
                    @include m.mq(sp){
                        font-size: 12px;
                    }
                }
                &:last-of-type{
                    margin-bottom: 0;
                }
                &--num{
                    display: inline-block;
                    width: 32%;
                    padding-left: 4%;
                    @include m.mq(pc-s){
                        width: 20%;
                    }
                }
                &--text{
                    width: 68%;
                    @include m.mq(pc-s){
                        width: 80%;
                    }
                    &_1{
                        font-size: 32px;
                        @include m.mq(pc-s){
                            font-size: 26px;
                        }
                        @include m.mq(sp){
                            font-size: 18px;
                        }
                    }
                    &_2{
                        font-size: 24px;
                        @include m.mq(pc-s){
                            font-size: 20px;
                        }
                        @include m.mq(sp){
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    &__bottom-box{
        max-width: 861px;
        margin: 0 auto;
        background-image: url(../../../../addfiles/img/top/pc/problem_04.png);
        background-repeat: no-repeat;
        background-size: 861px 184px;
        text-align: center;
        font-size: 24px;
        font-weight: 500;
        letter-spacing: .125em;
        line-height: 1.7;
        padding: 50px 0 64px;
        @include m.mq(pc-s){
            max-width: 566px;
            padding: 16px 0 16px;
            font-size: 20px;
            background-size: 565px 184px;
        }
        @include m.mq(sp){
            max-width: 308px;
            font-size: 14px;
            background-size: 306px 139px;
        }
        &--line{
            line-height: 2;
            display: inline-block;
            padding-bottom: 0px;
            background-image: url(../../../../addfiles/img/top/pc/problem_03.png);
            background-repeat: no-repeat;
            background-size:contain;
            background-position: 0px 19px;
            height: 55px;
            @include m.mq(sp){
                height: 40px;
            }
        }
    }
    &__bottom-line-box{
        max-width: 1404px;
        margin: 0 auto 130px auto;
        padding-bottom: 94px;
        position: relative;
        @include m.mq(pc-s){
            max-width: 678px;
            margin: 0 auto 0px auto;
            padding-bottom: 44px;
        }
        @include m.mq(sp){
            padding-bottom: 32px;
            margin-bottom: 68px;
        }
        &__line{
            display: inline-block;
            width: 174px;
            height: 1px;
            position: absolute;
            bottom: 16px;
            left: 0;
            background-color: #1b1b1b;
            @include m.mq(pc-s){
                width: 72px;
                bottom: 16px;
                left: 8px;
            }
            @include m.mq(sp){
                width: 44px;
            }
                &::before{
                    content: "";
                    display: inline-block;
                    height: 174px;
                    width: .5px;
                    background-color: #1b1b1b;
                    position: absolute;
                    bottom: -16px;
                    left: 16px;
                    @include m.mq(pc-s){
                        height: 72px;
                    }
                    @include m.mq(sp){
                        height: 44px;
                        left: 6px;
                        bottom: -8px;
                    }
                }
        }
    }
}

/*problem このようなお悩み(上書き)*/
.problem .section-title-box__main_problem{
    @include m.mq(sp){
        margin-bottom: 16px;
    }
    &--line{
        @include m.mq(sp){
            display: none;
        }
            &_sp{
                display: none;
                @include m.mq(sp){
                    display: inline-block;
                }
            }
    }
}